.app {
  position: relative;
  padding: 40px;
}

.app_loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ccc;
  opacity: 0.5;

  transition: opacity 0.5s ease-out;
}
.app_loading--hidden {
  opacity: 0;
  pointer-events: none;
}
